/*
===============================================================================

    Diego Hughes

    Personal website

    Description : Main stylesheet
    Version     : 1.0.0
    Created     : 05-08-2026

===============================================================================
*/


/* ==========================================================================
   Base
   ========================================================================== */

body {

    background: #fff;
    color: #212121;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: .92rem;
    line-height: 1.65;

}

main {

    max-width: 640px;

}


/* ==========================================================================
   Typography
   ========================================================================== */

h1 {

    font-size: 1.60rem;
    font-weight: 400;
    margin-bottom: 3.8rem;

}

h2 {

    font-size: .98rem;
    font-weight: 400;
    margin-top: .9rem;
    margin-bottom: .9rem;

}

p {

    margin-bottom: 1rem;

}

.author {

    color: #616161;

}

.footer {

    margin-top: 4rem;

    font-size: .85rem;

}


/* ==========================================================================
   Sections
   ========================================================================== */

section {

    margin-top: 2.8rem;

}

section:first-of-type {

    margin-top: 0;

}

section hr {

    width: 20px;
    margin: 0 0 .9rem 0;
    border: 0;
    border-top: 1px solid #616161;
    opacity: 1;

}


/* ==========================================================================
   Links
   ========================================================================== */

a {

    color: #212121;
    text-decoration: none;

}

a:hover {

    color: #212121;
    text-decoration: none;
    border-bottom: 1px solid #212121;

}